.footerStyle {
    // background: rgb(35, 35, 35);
    text-align: center;
    padding: 10px;
    bottom: 0;
    align-items: center;
    width: 100%;
    color:rgb(235, 236, 243);
    border-top-color: rgb(35, 35, 35);
	font-size: var(--text-xs);
    height: 50px;
}

.span{
    color:rgb(10, 255, 157);
}